body
{
    margin-top:50px;
}

.menuClass {
    background-color:aquamarine;
    width:auto;
    margin:0 auto;
    border-radius: 25px;
    
}

.contactClass {
    background-color:bisque;
    width:auto;
    margin:0 auto;
    border-radius: 25px;
}

.aboutClass {
    background-color:cadetblue;
    width:auto;
    margin:0 auto;
    border-radius: 25px;
}

.donateClass {
    background-color :lightskyblue;
    width:auto;
    margin:0 auto;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h1:hover{
    height: 80px;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    text-decoration:none; 
    cursor:pointer;
}

a { 
    color: inherit; 
    text-decoration: none;
    text-decoration: none !important; 
    cursor:pointer;
}